# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# build output
dist/
build/

# environment
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdata
*.xcuserstate

# Android
android/.gradle/
android/app/build/
android/build/
android/app/.cxx/
.idea/
*.iml
local.properties

# Metro
.metro-cache/

# TypeScript
*.tsbuildinfo

# misc
coverage/